/* General Styling */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Home Section */
#home {
    position: relative;
    height: 100vh;
    background-image: url('Images/WeddingImages/Home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 1rem; /* Add padding for smaller screens */
}

.home-content {
    z-index: 2;
    max-width: 90%;
}

#home h1 {
    font-size: 3rem; /* Reduced font size for smaller screens */
    margin: 0;
}

#home p {
    font-size: 1.2rem; /* Reduced font size for smaller screens */
    margin-top: 0.5rem;
}

/* Portfolio Section */
#portfolio {
    padding: 2rem 1rem; /* Adjusted padding for smaller screens */
}

h2 {
    text-align: center;
    font-size: 2rem; /* Reduced font size for smaller screens */
    margin-bottom: 1rem;
}

.portfolio-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: row; /* Default direction */
    justify-content: space-between; /* Space out the details and image */
}

.portfolio-item.reverse {
    flex-direction: row-reverse; /* Stacked layout for smaller screens */
}

.portfolio-image img {
    width: 100%;
    max-width: 100%; /* Ensure images fit within their container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.portfolio-image img:hover {
    transform: scale(1.05); /* Image zoom effect on hover */
}

.portfolio-details {
    margin: 1rem 0; /* Adjusted margins for smaller screens */
    text-align: center;
}

.portfolio-item.reverse .portfolio-details {
    margin: 1rem 0; /* Adjusted margins for smaller screens */
    text-align: center;
    margin-right: 1rem;
}

.portfolio-details h3 {
    margin: 0;
    font-size: 1rem; /* Reduced font size for smaller screens */
}

.portfolio-details h3 a {
    text-decoration: none;
    color: #333;
    margin-left: 1rem
}

.portfolio-details p {
    font-size: 0.75rem; /* Reduced font size for smaller screens */
    margin-top: 0.5rem;
    margin-left: 1rem
}

.portfolio-details .btn {
    display: inline-block;
    padding: 0.2rem 1rem;
    background: linear-gradient(145deg, #898787, #c1bebe); /* Gradient background */
    color: #383838;
    border: none;
    border-radius: 10px; /* Subtle rounded corners */
    text-decoration: none;
    font-size: 0.7rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500; /* Medium weight for a modern look */
    text-transform: uppercase; /* Uppercase text for emphasis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    margin-left: 1rem
}

.portfolio-details .btn:hover {
    background-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}





/* Contact Section */
#contact {
    padding: 2rem 1rem; /* Adjusted padding for smaller screens */
    background-color: #fff;
}

#contact h2 {
    font-size: 2rem; /* Reduced font size for smaller screens */
    margin-bottom: 1rem;
    text-align: center;
}

#contact form {
    max-width: 100%; /* Ensure the form fits within the container */
    margin: 0 auto;
}

#contact label {
    display: block;
    margin: 0.5rem 0;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#contact button {
    padding: 0.7rem 1.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem; /* Adjusted font size for smaller screens */
}

#contact button:hover {
    background-color: #555;
}

/* Media Queries for Smaller Screens */
@media (max-width: 820px) {
    #home {
        height: 90vh; /* Reduce height for tablets */
        background-size: cover; /* Ensure background image scales appropriately */
    }

    #home h1 {
        font-size: 5rem; /* Adjust font size for tablets */
    }

    #home p {
        font-size: 1rem; /* Adjust font size for tablets */
    }

    .portfolio-details {
        margin: 0 1rem; /* Reduce margin for smaller screens */
    }

    .portfolio-details h3 {
        font-size: 1.5rem; /* Adjust title size for smaller screens */
    }

    .portfolio-details p {
        font-size: 0.9rem; /* Adjust text size for smaller screens */
    }

}

@media (max-width: 480px) {
    #home {
        height: 70vh; /* Further reduce height for mobile screens */
        background-size: cover; /* Ensure background image scales appropriately */
    }

    #home h1 {
        font-size: 2rem; /* Adjust font size for mobile screens */
    }

    #home p {
        font-size: 0.875rem; /* Adjust font size for mobile screens */
    }

    .portfolio-details {
        margin: 0 1rem; /* Reduce margin for smaller screens */
    }

    .portfolio-details h3 {
        font-size: 1.2rem; /* Adjust title size for smaller screens */
    }

    .portfolio-details p {
        font-size: 0.9rem; /* Adjust text size for smaller screens */
    }

}








  


  

/* ALBUM PAGES */

/* Header Section */
#album-header {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#album-header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #333;
}

#album-header p {
    font-size: 1.3rem;
    color: #777;
}

/* Album Gallery Section with Masonry Layout */
#album {
    padding: 3rem;
    background-color: #f8f8f8;
}

.album-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto); /* Adjust height dynamically */
    gap: 10px; /* Adjust spacing between images */
    padding: 0;
    background-color: #f8f8f8;
}

.album-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Ensure images fill the space properly */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.album-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Lightbox Styles */
.lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content img {
    width: 100%; /* Ensure the image fills the lightbox */
    height: auto;
    object-fit: contain; /* Keep the image proportions */
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: #ddd;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .album-gallery {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjusts number of columns for medium screens */
    }

    #album-header p {
        font-size: 1.5rem; /* Adjust paragraph font size for medium screens */
    }

   
}

@media (max-width: 480px) {
    .album-gallery {
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr)); /* Adjusts grid layout for mobile */
    }
}

  
  



